.footer {
  height: auto;
  /* width: 90%; */
  margin: 0 auto;
  background: #1d1d1d;
  margin-top: 5vh;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top: 2px solid yellowgreen;
}

.footer p {
  color: #fff;
  font-family: "Outfit", sans-serif;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 200;
  margin-top: 5px;
}

.connect {
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect img {
  height: 18px;
}

.social_icons {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.social_icon {
  height: 40px;
}

.content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* gap: 30px; */
}

.content figure {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.content figure img {
  height: 70vh;
}

.message {
  line-height: 1.5rem;
  font-size: 2.8vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 40px;
  width: 80%;
  height: 100%;
  /* background: red; */
}

.send {
  height: 2vh;
}

.footer_form {
  height: 100%;
  margin-top: 20px;
  font-size: 2.8vh;
}

.footer_form input,
textarea {
  border: 1px solid white;
  margin: 10px;
}

.footer_form button {
  padding: 10px 20px;
  background-color: #3944bc;
  color: #fff;
  font-family: "Outfit";
  font-size: 2vh;
  margin: 2vh;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer_form button:hover {
  background-color: #1338be;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  border: none;
}

.end {
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 3vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
    justify-content: center;
  }

  .message {
    /* width: 100vw; */
    margin: 0 auto;
  }

  .message p {
    text-align: justify;
  }

  .footer_form {
    margin: 0 auto;
  }
}
